[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "wrGraph"]
	path = wrGraph
	url = https://github.com/cran/wrGraph
[submodule "wrMisc"]
	path = wrMisc
	url = https://github.com/cran/wrMisc
[submodule "wrProteo"]
	path = wrProteo
	url = https://github.com/cran/wrProteo
[submodule "wrTopDownFrag"]
	path = wrTopDownFrag
	url = https://github.com/cran/wrTopDownFrag
